local/
.idea/
.kotlin/
build/
**/bin/
.gradle/
*.iml
tests/__testoutput.txt
tests/__testerror.txt
__testoutput.txt
__testerror.txt
/testfile
tests/src/test/resources/pspautotests/
tests/bin/
.opencode/
/__iorename_test*.txt
/__testfinish.txt
/noexist/
/test:
/tty0:
